
body {
    transform: translate(-1150px); 
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sun {

 
    height: 1278px; 
    width: 1278px; 
    border-radius: 50%;
    background-color: rgb(255, 215, 35); 
}

.mercury {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 1);
}

.venus {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(231, 205, 205, 1);
}