@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto+Condensed:wght@300&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto+Condensed:wght@300&family=Secular+One&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");

body {
    width: 100vw;
    height: 100vh;
    background: rgb(6,20,143);
    background: -moz-linear-gradient(90deg, rgba(6,20,143,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(6,20,143,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(6,20,143,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06148f",endColorstr="#000000",GradientType=1);
    transform: translate(-160px); 
}
.page-titles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.page-title {
    color: rgba(255, 255, 255, 0.966);
    font-size: 90px;
    margin-bottom: 0;
    font-family: Secular one;
}
.page-sub-title {
    color: rgba(255, 209, 41, 0.899);
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: lora;
}
.planets-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.sun {
    height: 1378px; 
    width: 428px; 
    background-image: url(IMG/Untitled\ \(2\).png);
    background-blend-mode: color-burn;
    background-position-x: -570px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.mercury {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(136,136,136,1) 0%, rgba(49,48,48,1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(136,136,136,1) 0%, rgba(49,48,48,1) 100%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(136,136,136,1) 0%, rgba(49,48,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#313030",GradientType=1);
    cursor: pointer;
}
.venus {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(231,205,205,1) 0%, rgba(104,75,75,1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(231,205,205,1) 0%, rgba(104,75,75,1) 100%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(231,205,205,1) 0%, rgba(104,75,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#684b4b",GradientType=1);
    cursor: pointer;
}
 .earth {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(66,142,212,1) 0%, rgba(16,41,64,1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(66,142,212,1) 0%, rgba(16,41,64,1) 100%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(66,142,212,1) 0%, rgba(16,41,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#102940",GradientType=1);
    cursor: pointer;
 }
 .mars {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgb(226,148,104);
background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(239,95,95,1) 0%, rgba(105,28,28,1) 100%);
background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(239,95,95,1) 0%, rgba(105,28,28,1) 100%);
background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(239,95,95,1) 0%, rgba(105,28,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#691c1c",GradientType=1);
    cursor: pointer;
 }
.jupiter {
    width: 376px;
    height: 376px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(226,148,104,1) 0%, rgba(101,68,49,1) 91%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(226,148,104,1) 0%, rgba(101,68,49,1) 91%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(226,148,104,1) 0%, rgba(101,68,49,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#654431",GradientType=1); cursor: pointer;
}
.saturn-ring {
    width: 400px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(235, 229, 229, 0.408);
    transform: translateY(-150px) translateX(-54px) rotate(-35deg);
}
.saturn-ring-second {
    width: 400px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(114, 110, 110, 0.488);
    transform: translateY(-158px) translateX(-53px) rotate(-35deg);
}
.saturn {
    width: 288px;
    height: 288px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(199,170,114,1) 0%, rgba(67,60,36,1) 91%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(199,170,114,1) 0%, rgba(67,60,36,1) 91%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(199,170,114,1) 0%, rgba(67,60,36,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#433c24",GradientType=1);cursor: pointer;
}
.uranus {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(201,212,241,1) 0%, rgba(50,78,151,1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(201,212,241,1) 0%, rgba(50,78,151,1) 100%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(201,212,241,1) 0%, rgba(50,78,151,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#324e97",GradientType=1);
    cursor: pointer;
}
.neptune {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background: rgb(226,148,104);
    background: -moz-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(122,145,167,1) 0%, rgba(39,76,110,1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(122,145,167,1) 0%, rgba(39,76,110,1) 100%);
    background: linear-gradient(102deg, rgba(226,148,104,0) 0%, rgba(122,145,167,1) 0%, rgba(39,76,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29468",endColorstr="#274c6e",GradientType=1);
    cursor: pointer;
}
.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.modal {
    display: none;
    position: fixed;
    width: 1400px;
    height: 1400px;
    top: 1000px;
    left: 53%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(3, 4, 66, 0.566); */
    padding: 20px;
    border-radius: 5px;
    color: white;
    background: rgba(6, 20, 143, 0.296);
    background: -moz-linear-gradient(90deg, rgba(6,20,143,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(6,20,143,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(6,20,143,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06148f",endColorstr="#000000",GradientType=1);
  }
.planet-name {
    color: white;
    font-size: 120px;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Secular One;
}
.planet-name-latin {
    font-family: Lora;
    font-size: 43px;
    font-weight: 400;
    color: rgba(255, 209, 41, 0.899);
    align-self: flex-start;
    margin-top: 20px;
    letter-spacing: 15px;
    text-transform: uppercase;
}
.planet-info {
    font-size: 30px;
    font-weight: 300;
    line-height: 50.6px;
    margin-bottom: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.722);
}
.planets-data {
    display: flex;
    flex-direction: row;
    width: 1400px;
    flex-wrap: wrap;
    align-items:self-start;
    font-size: 30px;
    color: rgb(220, 218, 218);
}
.circumference-title, .distans-sun-title, .temperature-max-title, .temperature-min-title, .moons-title {
    font-family: Secular One;
}
.circumference-info, .distans-sun-info, .temperature-max-info, .temperature-min-info, .moons-info {
  color: rgba(255, 255, 255, 0.606);
  font-family: Roboto Condensed;
}
.circumference, .distans-sun, .temperature-max, .temperature-min, .moons {
  width: 700px;
}
.moons-info {
    /* font-size: 0.9vw; */
    word-wrap: break-word;
    width: 1200px;
}
.line {
    width: 1400px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.684);
    align-self: self-start;
}
.close-modal {
    width: 70px;
    height: 70px;
    font-size: 40px;
    border: 0;
    margin-left: auto;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.448);
    cursor: pointer;
}
.title-button-wrap {
    width: 1400px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    
}